<!doctype html>
<html lang="en">

<head>
    @Html.Partial( "~/Views/Shared/_title_meta.cshtml" )
    @RenderSection( "styles", false )
    @Html.Partial( "~/Views/Shared/_head_css.cshtml" )
</head>

<body>

<div class="wrapper">

    <div class="header-wrapper">

        <header>
            @Html.Partial( "_topbar" )
        </header>

        @Html.Partial( "_menu" )

    </div>

    <div class="page-wrapper">
        <div class="page-content">
            @Html.Partial( "~/Views/Shared/_page_title.cshtml" )

            @RenderBody()

        </div>
    </div>

    <div class="overlay toggle-icon"></div>
    <a href="javaScript:;" class="back-to-top">
        <i class="bx bxs-up-arrow-alt"></i>
    </a>

    @Html.Partial( "~/Views/Shared/_footer.cshtml" )
</div>

@Html.Partial( "~/Views/Shared/_vendor_scripts.cshtml" )

<script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>
<script src="~/Scripts/jquery.mask.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/bootbox.all.js"></script>
<script src="~/Scripts/app/modules.js"></script>
<script src="~/Scripts/app/common.js"></script>
@RenderSection("scripts", required: false)
@{ var hasSystemError = false; }
@if (TempData["Exception"] != null && !string.IsNullOrEmpty((string)TempData["Exception"]))
{
    hasSystemError = true;

    @Html.Partial("_ErrorModal")
}
@if (hasSystemError)
{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#systemErrorModal').modal('show');
            });
        </script>
}
</body>

</html>