@using qlts.Enums
<div class="nav-container primary-menu">
    <div class="mobile-topbar-header">
        <div>
            <img src="~/Content/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">VNPT</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <nav class="navbar navbar-expand-xl w-100">
        <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <div class="parent-icon">
                        <i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">Trang chủ</div>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated && User.IsInRole(PositionType.AccountingManager.ToString()))
            {

                <li class="nav-item dropdown">
                    <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                        <div class="parent-icon">
                            <i class="bx bx-category"></i>
                        </div>
                        <div class="menu-title">Danh mục</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="@Url.Action( "Index", "Warehouses" )"><i class="bx bx-right-arrow-alt"></i>Kho</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action( "Index", "Users" )"><i class="bx bx-right-arrow-alt"></i>Người dùng</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action( "Index", "Manufacturers" )"><i class="bx bx-right-arrow-alt"></i>Hãng sản xuất</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action( "Index", "Fields" )"><i class="bx bx-right-arrow-alt"></i>Lĩnh vực</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action( "Index", "FixedAssetStatus" )"><i class="bx bx-right-arrow-alt"></i>Trạng thái tài sản</a>
                        </li>

                    </ul>
                </li>
            }
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <div class="parent-icon">
                        <i class='bx bx-intersect'></i>
                    </div>
                    <div class="menu-title">Quản lý</div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index","FixedAssets")"><i class="bx bx-right-arrow-alt"></i>Nhập</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("ListFixedAssets","FixedAssets")"><i class="bx bx-right-arrow-alt"></i>Danh sách nhập</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index","AssetsTransfer")"><i class="bx bx-right-arrow-alt"></i>Điều chuyển</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("ListAssetsTransfer","AssetsTransfer")"><i class="bx bx-right-arrow-alt"></i>Danh sách Điều chuyển</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index","AssetsExport")"><i class="bx bx-right-arrow-alt"></i>Xuất</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("ListAssetsExport","AssetsExport")"><i class="bx bx-right-arrow-alt"></i>Danh sách xuất</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index","LiquidationAsset")"><i class="bx bx-right-arrow-alt"></i>Thanh lý</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("ListAssetsExport","AssetsExport")"><i class="bx bx-right-arrow-alt"></i>Danh sách thanh lý</a>
                    </li>
                </ul>
            </li>

            @if (User.Identity.IsAuthenticated && User.IsInRole(PositionType.AccountingManager.ToString()))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="@Url.Action( "Index", "Search" )" @*data-bs-toggle="dropdown"*@>
                        <div class="parent-icon">
                            <i class="bx bx-search"></i>
                        </div>
                        <div class="menu-title">Tìm kiếm</div>
                    </a>
                    @*<ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="charts-apex-chart.html"><i class="bx bx-right-arrow-alt"></i>Apex</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="charts-chartjs.html"><i class="bx bx-right-arrow-alt"></i>Chartjs</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Highcharts</a>
                            </li>
                        </ul>*@
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="@Url.Action( "Index", "Reports" )" @*data-bs-toggle="dropdown"*@>
                        <div class="parent-icon">
                            <i class='bx bx-scan'></i>
                        </div>
                        <div class="menu-title">Báo cáo</div>
                    </a>
                    @*<ul class="dropdown-menu">

                        </ul>*@
                </li>
            }
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <div class="parent-icon">
                        <i class='bx bx-help-circle'></i>
                    </div>
                    <div class="menu-title">Trợ giúp</div>
                </a>
            </li>
        </ul>
    </nav>
</div>