<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li>
                    <a href="@Url.Action("Index", "Dashboard")">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="grid"></i>
                        <span data-key="t-apps">Apps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="@Url.Action("Calendar", "Apps")">
                                <span data-key="t-calendar">Calendar</span>
                            </a>
                        </li>
        
                        <li>
                            <a href="@Url.Action("Chat", "Apps")">
                                <span data-key="t-chat">Chat</span>
                            </a>
                        </li>
        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-email">Email</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="@Url.Action("Inbox", "Email")" data-key="t-inbox">Inbox</a></li>
                                <li><a href="@Url.Action("ReadEmail", "Email")" data-key="t-read-email">Read Email</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-invoices">Invoices</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="@Url.Action("List", "Invoices")" data-key="t-invoice-list">Invoice List</a></li>
                                <li><a href="@Url.Action("Detail", "Invoices")" data-key="t-invoice-detail">Invoice Detail</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-contacts">Contacts</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="@Url.Action("Grid", "Contacts")" data-key="t-user-grid">User Grid</a></li>
                                <li><a href="@Url.Action("List", "Contacts")" data-key="t-user-list">User List</a></li>
                                <li><a href="@Url.Action("Profile", "Contacts")" data-key="t-profile">Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="users"></i>
                        <span data-key="t-authentication">Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Login", "Auth")" data-key="t-login">Login</a></li>
                        <li><a href="@Url.Action("Register", "Auth")" data-key="t-register">Register</a></li>
                        <li><a href="@Url.Action("RecoverPassword", "Auth")" data-key="t-recover-password">Recover Password</a></li>
                        <li><a href="@Url.Action("LockScreen", "Auth")" data-key="t-lock-screen">Lock Screen</a></li>
                        <li><a href="@Url.Action("LogOut", "Auth")" data-key="t-logout">Log Out</a></li>
                        <li><a href="@Url.Action("ConfirmEmail", "Auth")" data-key="t-confirm-mail">Confirm Mail</a></li>
                        <li><a href="@Url.Action("EmailVerification", "Auth")" data-key="t-email-verification">Email Verification</a></li>
                        <li><a href="@Url.Action("TwoStepVerification", "Auth")" data-key="t-two-step-verification">Two Step Verification</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="file-text"></i>
                        <span data-key="t-pages">Pages</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("StarterPage", "Pages")" data-key="t-starter-page">Starter Page</a></li>
                        <li><a href="@Url.Action("Maintenance", "Pages")" data-key="t-maintenance">Maintenance</a></li>
                        <li><a href="@Url.Action("ComingSoon", "Pages")" data-key="t-coming-soon">Coming Soon</a></li>
                        <li><a href="@Url.Action("Timeline", "Pages")" data-key="t-timeline">Timeline</a></li>
                        <li><a href="@Url.Action("FAQs", "Pages")" data-key="t-faqs">FAQs</a></li>
                        <li><a href="@Url.Action("Pricing", "Pages")" data-key="t-pricing">Pricing</a></li>
                        <li><a href="@Url.Action("Error404", "Pages")" data-key="t-error-404">Error 404</a></li>
                        <li><a href="@Url.Action("Error500", "Pages")" data-key="t-error-500">Error 500</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Horizontal")">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal">Horizontal</span>
                    </a>
                </li>

                <li class="menu-title mt-2" data-key="t-components">Elements</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="briefcase"></i>
                        <span data-key="t-components">Components</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Alerts", "Components")" data-key="t-alerts">Alerts</a></li>
                        <li><a href="@Url.Action("Buttons", "Components")" data-key="t-buttons">Buttons</a></li>
                        <li><a href="@Url.Action("Cards", "Components")" data-key="t-cards">Cards</a></li>
                        <li><a href="@Url.Action("Carousel", "Components")" data-key="t-carousel">Carousel</a></li>
                        <li><a href="@Url.Action("Dropdowns", "Components")" data-key="t-dropdowns">Dropdowns</a></li>
                        <li><a href="@Url.Action("Grid", "Components")" data-key="t-grid">Grid</a></li>
                        <li><a href="@Url.Action("Images", "Components")" data-key="t-images">Images</a></li>
                        <li><a href="@Url.Action("Modals", "Components")" data-key="t-modals">Modals</a></li>
                        <li><a href="@Url.Action("Offcanvas", "Components")" data-key="t-offcanvas">Offcanvas</a></li>
                        <li><a href="@Url.Action("ProgressBars", "Components")" data-key="t-progress-bars">Progress Bars</a></li>
                        <li><a href="@Url.Action("Placeholders", "Components")" data-key="t-progress-bars">Placeholders</a></li>
                        <li><a href="@Url.Action("TabsAccordions", "Components")" data-key="t-tabs-accordions">Tabs & Accordions</a></li>
                        <li><a href="@Url.Action("Typography", "Components")" data-key="t-typography">Typography</a></li>
                        <li><a href="@Url.Action("Toasts", "Components")" data-key="t-typography">Toasts</a></li>
                        <li><a href="@Url.Action("Video", "Components")" data-key="t-video">Video</a></li>
                        <li><a href="@Url.Action("General", "Components")" data-key="t-general">General</a></li>
                        <li><a href="@Url.Action("Colors", "Components")" data-key="t-colors">Colors</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="gift"></i>
                        <span data-key="t-ui-elements">Extended</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("LightBox", "Extended")" data-key="t-lightbox">Lightbox</a></li>
                        <li><a href="@Url.Action("RangeSlider", "Extended")" data-key="t-range-slider">Range Slider</a></li>
                        <li><a href="@Url.Action("SweetAlert2", "Extended")" data-key="t-sweet-alert">SweetAlert 2</a></li>
                        <li><a href="@Url.Action("SessionTimeout", "Extended")" data-key="t-session-timeout">Session Timeout</a></li>
                        <li><a href="@Url.Action("Rating", "Extended")" data-key="t-rating">Rating</a></li>
                        <li><a href="@Url.Action("Notifications", "Extended")" data-key="t-notifications">Notifications</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="box"></i>
                        <span class="badge rounded-pill bg-soft-danger text-danger float-end">7</span>
                        <span data-key="t-forms">Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("BasicElements", "Forms")" data-key="t-form-elements">Basic Elements</a></li>
                        <li><a href="@Url.Action("Validation", "Forms")" data-key="t-form-validation">Validation</a></li>
                        <li><a href="@Url.Action("AdvancedPlugins", "Forms")" data-key="t-form-advanced">Advanced Plugins</a></li>
                        <li><a href="@Url.Action("Editors", "Forms")" data-key="t-form-editors">Editors</a></li>
                        <li><a href="@Url.Action("FileUpload", "Forms")" data-key="t-form-upload">File Upload</a></li>
                        <li><a href="@Url.Action("Wizard", "Forms")" data-key="t-form-wizard">Wizard</a></li>
                        <li><a href="@Url.Action("Mask", "Forms")" data-key="t-form-mask">Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="sliders"></i>
                        <span data-key="t-tables">Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("BootstrapBasic", "Tables")" data-key="t-basic-tables">Bootstrap Basic</a></li>
                        <li><a href="@Url.Action("DataTables", "Tables")" data-key="t-data-tables">DataTables</a></li>
                        <li><a href="@Url.Action("Responsive", "Tables")" data-key="t-responsive-table">Responsive</a></li>
                        <li><a href="@Url.Action("Editable", "Tables")" data-key="t-editable-table">Editable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="pie-chart"></i>
                        <span data-key="t-charts">Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Apexcharts", "Charts")" data-key="t-apex-charts">Apexcharts</a></li>
                        <li><a href="@Url.Action("Echarts", "Charts")" data-key="t-e-charts">Echarts</a></li>
                        <li><a href="@Url.Action("Chartjs", "Charts")" data-key="t-chartjs-charts">Chartjs</a></li>
                        <li><a href="@Url.Action("JqueryKnob", "Charts")" data-key="t-knob-charts">Jquery Knob</a></li>
                        <li><a href="@Url.Action("Sparkline", "Charts")" data-key="t-sparkline-charts">Sparkline</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="cpu"></i>
                        <span data-key="t-icons">Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Boxicons", "Icons")" data-key="t-boxicons">Boxicons</a></li>
                        <li><a href="@Url.Action("MaterialDesign", "Icons")" data-key="t-material-design">Material Design</a></li>
                        <li><a href="@Url.Action("Dripicons", "Icons")" data-key="t-dripicons">Dripicons</a></li>
                        <li><a href="@Url.Action("FontAwesome5", "Icons")" data-key="t-font-awesome">Font Awesome 5</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="map"></i>
                        <span data-key="t-maps">Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Google", "Maps")" data-key="t-g-maps">Google</a></li>
                        <li><a href="@Url.Action("Vector", "Maps")" data-key="t-v-maps">Vector</a></li>
                        <li><a href="@Url.Action("Leaflet", "Maps")" data-key="t-l-maps">Leaflet</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="share-2"></i>
                        <span data-key="t-multi-level">Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" data-key="t-level-1-1">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" data-key="t-level-1-2">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" data-key="t-level-2-1">Level 2.1</a></li>
                                <li><a href="javascript: void(0);" data-key="t-level-2-2">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
                <div class="card-body">
                    <img src="~/Content//assets/images/giftbox.png" alt="">
                    <div class="mt-4">
                        <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
                        <p class="font-size-13">Upgrade your plan from a Free trial, to select ‘Business Plan’.</p>
                        <a href="#!" class="btn btn-primary mt-2">Upgrade Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->