@using qlts.Extensions;
@model List<qlts.ViewModels.Fields.FieldIndexViewModel>
@{
    ViewBag.Title = "Danh sách Lĩnh vực";
    ViewBag.pTitle = "Lĩnh vực";
    ViewBag.pageTitle = "Trang chủ";
    var stt = 1;
    const string controller = "Fields";
    var data = Model;
}
@section styles{
    <link href="~/Content/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <a href="@Url.Action("CreateUpdate",controller)" class="btn btn-primary mb-2">
                            <i class="mdi mdi-plus-circle me-2"></i>Thêm
                        </a>
                    </div>
                    <div class="col-sm-2">

                    </div><!-- end col-->
                </div>
                <div class="table-responsive-lg">
                    <table id="datatable-buttons" class="table table-striped table-bordered mb-0 delete-container">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center align-middle" style="min-width: 5px;">STT</th>
                                <th class="text-center align-middle" style="min-width: 500px;">@Html.DisplayNameFor(n => n.FirstOrDefault().Name)</th>
                                <th class="text-center align-middle" style="min-width: 400px;">@Html.DisplayNameFor(n => n.FirstOrDefault().Note)</th>                            
                                <th></th>

                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in data)
                            {
                                <tr>
                                    <td>@(stt++)</td>
                                    <td>@item.Name</td>
                                    <td>@item.Note</td>
                                   
                                    <td class="text-center">
                                        <div class="d-flex order-actions justify-content-center">
                                            <a href="@Url.Action("CreateUpdate", controller, new { id = item.Id })" class=""><i class='mdi mdi-square-edit-outline'></i></a>
                                            <a data-url='@Url.Action("Delete", controller, new { id = item.Id })' class="ms-3 delete-button"><i class='mdi mdi-delete'></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div> <!-- end row -->

@section scripts{
    <!-- Required datatable js -->
    <script src="~/Content/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    <!-- Datatable init js -->
    <script>
        $(document).ready(function () {
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                filter: false,
                info: false,
                scrollY: '50vh',
                scrollCollapse: true,
                paging: false,
                language: {
                    searchPlaceholder: "Tìm kiếm",
                    info: "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                    infoEmpty: "Hiển thị 0 tới 0 của 0 dữ liệu",
                    search: "_INPUT_",
                    zeroRecords: "Không tìm thấy dữ liệu",
                    emptyTable: "Chưa có dữ liệu",
                    paginate: {
                        first: "Trang đầu",
                        previous: "Trang trước",
                        next: "Trang kế",
                        last: "Trang cuối"
                    }
                },
                buttons: ['excel', 'pdf'],

            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script src="~/Scripts/app/controllers/fixed-asset.js"></script>
    <script>
        var fixedAssets = new fixedAssetsController();
        fixedAssets.initialize();
    </script>

}